<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Página Administrativa - Inicio </title>
</head>
<body>
    <h1>Tablas</h1>
    <ul>
        <li><a href="/admin/integrantes/listar">Integrantes</a></li>
        <li><a href="/admin/media/listar">Media</a></li>
        <li><a href="/admin/tipo_media/listar">Tipo Media</a></li>
    </ul>
</body>
    <footer>
        <a href="/">Volver al inicio</a>
    </footer>
</html>