<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar integrante</title>
</head>
<body>
    <h1>Integrantes {{nombre}}</h1>
    <h2>Editar</h2>
    <section>
        <form action="/admin/integrantes/update/{{integrante.matricula}}" method="post">

            <fieldset>
               <legend>Integrante {{nombre}} {{matricula}}</legend>
                <label>Id</label>
                <input id="id" name="id_integrante" type="text" value="{{id}}" disabled>

                <!-- el id se integrante debe ser un campo autonumerico en la creación -->
                <label for="matricula">Matricula</label>
                <input id= "matricula" name= "matricula" type="{{matricula}}" value="{{matricula}}">

                <label for="apellido">Apellido</label>
                <input id= "apellido" name= "apellido" type="{{apellido}}" value="{{apellido}}">

                <label for="nombre">Nombre</label>
                <input id= "nombre" name= "nombre" type="{{nombre}}" value="{{nombre}}">


            </fieldset>
            <button type="button" onclick="window.location.href=`/admin/integrantes/listar`">Cancelar</button>
            <button type="submit">Editar</button>
        </form>
    </section>
    <script>
        window.onload = function() {
            const urlParams = new URLSearchParams(window.location.search);
            const error = urlParams.get('error');

            if (error) {
                const errores = decodeURIComponent(error).split(';');
                errores.forEach((error) => {
                    toastr.error(error);
                });
            }
        };
    </script>

    <a href="/admin/integrantes/listar">Voler al listado de integrantes</a>
</body>
</html>