<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Editar Media</title>
</head>
<body>
<h1>Media</h1>
<h2>Editar</h2>
<section>
    <form action="/admin/media/edit/{{id}}" method="post" enctype="multipart/form-data">
        <label for="tipoMedia">Tipo Media</label>
        <select id="tipoMedia" name="tipoMedia">
            <option></option>
            {{#each tipoMedia}}
                <option value="{{id}}" {{#if (eq id ../tipoMediaSeleccionado)}}selected{{/if}}>{{nombre}}</option>
            {{/each}}
        </select>

        <div>
            <label for="url">URL</label>
            <input type="checkbox" id="urlCheckbox" title="¡Solo puede ser seleccionado uno a la vez, SRC o URL!">
        </div>
        <input type="text" id="url" name="url" value="{{url}}" disabled>

        <div>
            <label for="src">SRC</label>
            <input type="checkbox" id="srcCheckbox" title="¡Solo puede ser seleccionado uno a la vez, SRC o URL!">
        </div>
        <input type="file" id="src" name="src" disabled>

        <label for="alt">Alt</label>
        <input type="text" id="alt" name="alt" value="{{alt}}">

        <label for="integrante">Integrante</label>
        <select id="integrante" name="integrante" value="{{matricula}}">
            <option></option>
            {{#each integrantes}}
                <option value="{{matricula}}" {{#if (eq matricula ../integranteSeleccionado)}}selected{{/if}}>{{nombre}} {{apellido}}</option>
            {{/each}}
        </select>


        <input type="submit" value="Crear">
    </form>

</section>
<script>
    window.onload = function() {
        const urlParams = new URLSearchParams(window.location.search);
        const error = urlParams.get('error');

        if (error) {
            const errores = decodeURIComponent(error).split(';');
            errores.forEach((error) => {
                toastr.error(error);
            });
        }

        const urlCheckbox = document.getElementById('urlCheckbox');
        const srcCheckbox = document.getElementById('srcCheckbox');
        const urlInput = document.getElementById('url');
        const srcInput = document.getElementById('src');

        urlCheckbox.addEventListener('change', function() {
            if (this.checked) {
                // Si el checkbox de URL está seleccionado, habilita el campo de entrada de URL y deshabilita el de SRC
                urlInput.disabled = false;
                srcInput.disabled = true;
                srcCheckbox.checked = false;
            } else {
                // Si el checkbox de URL no está seleccionado, deshabilita el campo de entrada de URL
                urlInput.disabled = true;
            }
        });

        srcCheckbox.addEventListener('change', function() {
            if (this.checked) {
                // Si el checkbox de SRC está seleccionado, habilita el campo de entrada de SRC y deshabilita el de URL
                srcInput.disabled = false;
                urlInput.disabled = true;
                urlCheckbox.checked = false;
            } else {
                // Si el checkbox de SRC no está seleccionado, deshabilita el campo de entrada de SRC
                srcInput.disabled = true;
            }
        });
    };
</script>

<a href="/admin/media/listar">Voler al listado de media</a>

</body>
</html>